body {
    background-color: #F1F1F1;
    display: flex; /* Define o corpo como um contêiner flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha verticalmente ao topo */
    height: 100vh; /* Define a altura do body para ocupar a tela inteira */
    margin: 0;
}