.divCardapio {
    background-color: #f1f1f1;
    width: 789px;
    padding: 0;
    height: 202px; /* Ajusta a altura automaticamente ao conteúdo */
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    margin-top: 150px;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

#divCombos{
    margin-top: 0;
}

#titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    margin-left: 10px;
}

.divMarmita {
    width: 789px; /* Ocupa toda a largura da divCardapio */
    height: 150px;
    background-color: white;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar a div */
    cursor: pointer;
    position: relative;
    display: flex;
}

.marmita {
    margin-left: 10px;
    flex: 1;
    align-self: baseline;
}


#preco {
    margin-left: 10px;
    font-size: bold;
    flex: 1;
    align-self: center;
    justify-content: flex-start;
    transform: translateX(-103%); 
    font-weight: bold;
    margin-bottom: 1px;
}

#imgMarmita {
    width: 120px;
    height: auto;
    flex: 0.6;
    align-self: center;
    margin-right: 10px;
}

#divCombos{
    height: auto;
}

#divCombo2{
    margin-top: 4px;
}

#divSobremesas {
    height: auto;
    margin-top: 0;
}

#imgCocada {
    width: 120px;
    height: 100px;
    flex: 0.6;
    align-self: center;
    margin-right: 10px;
}

#divBebidas {
    margin-top: 0;
    height: auto;
}

#imgSuco {
    width: 0px;
    flex: 0.5;
    align-self: center;
    margin-right: 32px;
}

#preco2{
    margin-left: 10px;
    font-size: bold;
    flex: 1;
    align-self: center;
    justify-content: flex-start;
    transform: translateX(-102.5%); 
    font-weight: bold;
    margin-bottom: 1px;
}