.containerDefault{
    background-color: white;
    width: 789px;
    height: 100vh; /* Ocupa 100% da altura da janela de visualização */
    display: flex;
    flex-direction: column; /* Alinha os filhos verticalmente */
    align-items: center; /* Centraliza os elementos dentro da div */
    justify-content: flex-start; /* Alinha os itens ao topo da div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar a div (opcional) */
    position: relative; /* Posicionamento padrão */
}