/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    display: flex; /* Adiciona flexbox para alinhar os contêineres */
    justify-content: space-between; /* Espaça os contêineres à esquerda e à direita */
    align-items: flex-start; /* Alinha os itens ao topo */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 608px;
    max-height: 362px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1002;
}

.left-content {
    flex: 1; /* Ocupa o espaço restante à esquerda */
    background-color: white;
}

.right-content {
    flex: 1; /* Define uma largura fixa para o endereço-estabelecimento */
    background-color: white;
    padding-left: 0px;
    height: 362px;
}

/* Outros estilos mantidos */

.imgLM {
    position: relative;
    width: 80px;
    height: auto;
    left: 264px;
    margin-bottom: 0;
}


.horario-container {
    display: flex;
    justify-content:flex-start; 
    align-items: flex-start;
    height: 156px;
    margin-top: 10px;
    margin-left: 72.5px;
    width: 190px;
}

.dias-container, .horarios-container {
    display: flex;
    flex-direction: column; 
}

.dias, .horarios {
    margin: 0;
    margin-right: 2px;
    padding: 2px;
}

.tituloRelogioContainer{
    margin-top:51px;
    width: 241px;
    height: 25px;
    margin-left: 31.5px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#tituloHorario {
    margin-left: 5px;
}

.endereco-estabelecimento{
    width: 235px;
    height: 0px;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#tss{
    margin: 0;
    height: 20px;
    margin-top: 112px;
    width: 235px;
    margin-left: 34.5px;
}
#kska{
    margin-left: 34.5px;
}

#imgX{
    margin-left: 250px;
    cursor: pointer;
}